# TOKEN DE TELEGRAM (obligatorio)
BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrSTUvwxyz

# TU ID DE TELEGRAM (obligatorio)
ALLOWED_USERS=123456789

# APIs OPCIONALES (puedes dejarlas vacías por ahora)
VIRUSTOTAL_API_KEY=
ABUSEIPDB_API_KEY=
SHODAN_API_KEY=
GEMINI_API_KEY=
